@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;

}

.container_card{
    width: 100%;
    display: flex;
    padding: 1rem;
    

    & .weather_card{
        height: 10rem;
        width: 8rem;
        color: rgb(146, 146, 146);
        border: 2px solid rgba(14, 7, 7, 0);
        
        &:hover{
            border: 2px solid rgba(167, 167, 167, 0.637);
            cursor: pointer;
        }
        
        & .day{
            font-size: 20px;
            color:#fff;
        }

        & .weather_image{
            font-size: 65px;

            & .fa-sun{
                color: rgb(241, 241, 0);
            }

            & .fa-cloud-showers-heavy{
                color: #2ca8dc;
            }

            & .fa-cloud-sun{
                color: rgb(242, 255, 61);
            }
        }

        & .weather_temperature{
            color: #fff;
            font-weight: bold;
            font-size: 18px;

            & span{
                color:rgb(146, 146, 146);
            }
        }
    }
}


